@model IEnumerable<RetoMVC.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Nuevo empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo Documento
            </th>
            <th>
               Numero Documento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                Correo Electronico
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                Fecha Creacion
            </th>
            <th>
                Fecha Modificacion
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th>Tienpo Contradado</th>
            <th></th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraCrea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraModifica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento.DepartamentoNombre)
            </td>
            <td>
                 
                    @Html.DisplayFor(modelItem => item.DiasTrabajados)

            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
